<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reset your password</title>
<link rel="stylesheet" href="stylesheet.css">
</head>
<body class="full-background">
	<div class="form-box">
		<img src="logo.png" alt="Fenz Logo" class="logo-signup">
		<div>
			<span>Reset your password</span>
			<form id="stripe-login" th:action="@{/forgot-password}" method="post">
				<div>
					<label for="email">Email</label>
					<input type="email" name="email" autofocus="autofocus">
				</div>
				<div>
					<input type="submit" name="submit" value="Send Reset Link">
				</div>
			</form>
		</div>
		<div>
			<span>Remembered your password? <a th:href="@{/login}">Log in</a></span>
		</div>
	</div>
</body>
</html>

