<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reset your password</title>
<link rel="stylesheet" href="stylesheet.css">
</head>
<body class="full-background">

	<form th:action="@{/reset-password}" method="post">
		<input type="hidden" name="token" th:value="${token}" /> 
		<label for="newPassword">New Password:</label> 
		<input type="password"	id="newPassword" name="newPassword" required> 
		<label	for="confirmPassword">Confirm New Password:</label> 
		<input	type="password" id="confirmPassword" name="confirmPassword" required>
		<button type="submit">Reset Password</button>
	</form>

</body>

</html>
